/*.jumbotron {
  background-image: url("img/jumbo.jpg");
  background-size: cover;
}*/

.jumbotron{
	color: #004D98;
}
.nav-item	{
	font-family: sans-serif;
	font-size: 14px;
}
.navbar	{
	background-color: #FFFFFF;
}
video {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: 100%;
	  position: fixed;
	  top: 0; 
    z-index: -9;
}
.pad {
  padding-top: 150px;
}